<mat-toolbar class="main-tool-bar">

    <img src="assets/profile.png" alt="Profile" class="profile-logo clickable">
    <span class="spacer"></span>

    <!-- Desktop menu -->
    <div class="desktop-menu">

        <button mat-button [ngClass]="{ 'active-link': isActive('/dashboard') }"
            (click)="router.navigate(['/dashboard'])">
            About
        </button>

        <button mat-button [ngClass]="{ 'active-link': isActive('/users') }" (click)="router.navigate(['/users'])">
            Projects
        </button>

        <button mat-button [ngClass]="{ 'active-link': isActive('/reports') }" (click)="router.navigate(['/reports'])">
            Experience
        </button>

        <button mat-button [matMenuTriggerFor]="websiteMenu">
            Website Designs
        </button>

        <mat-menu #websiteMenu="matMenu">

            <button mat-menu-item (click)="router.navigate(['/website-builder'])">
                Website Builder
            </button>

            <button mat-menu-item (click)="router.navigate(['/hotel-template'])">
                Hotel / Restaurant
            </button>

        </mat-menu>

    </div>

    <!-- Mobile menu -->
    <div class="mobile-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

            <button mat-menu-item (click)="router.navigate(['/dashboard'])">
                About
            </button>

            <button mat-menu-item (click)="router.navigate(['/users'])">
                Projects
            </button>

            <button mat-menu-item (click)="router.navigate(['/reports'])">
                Experience
            </button>


            <mat-divider></mat-divider>

            <button mat-menu-item [matMenuTriggerFor]="mobileWebsiteMenu">
                Website Designs
            </button>

            <mat-menu #mobileWebsiteMenu="matMenu">

                <button mat-menu-item (click)="router.navigate(['/website-builder'])">
                    Website Builder
                </button>

                <button mat-menu-item (click)="router.navigate(['/hotel-template'])">
                    Hotel / Restaurant
                </button>

            </mat-menu>
        </mat-menu>
    </div>

</mat-toolbar>


<!-- <button mat-menu-item *ngIf="!authService.isLoggedIn()"
        (click)="router.navigate(['/login'])">
        Login
      </button>

      <button mat-menu-item *ngIf="authService.isLoggedIn()"
        (click)="logout()">
        Logout
      </button> -->