.main-tool-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #2073AD;
}

.spacer {
  flex: 1 1 auto;
}

/* Hide mobile menu by default */
.mobile-menu {
  display: none;
}


/* Desktop menu visible by default */
.desktop-menu button {
  margin-right: 8px;
}

/* Responsive breakpoint: below 768px */
@media (max-width: 768px) {
  .desktop-menu {
    display: none; // hide buttons
  }
  .mobile-menu {
    display: block; // show hamburger menu
  }
}