.main-tool-bar{
    color: #F5F5F5;
    background-color:#2073AD;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}


  .spacer {
    flex: 1 1 auto;
  }
  
  .title {
    font-weight: 600;
  }
  .active-link {
    font-weight: 600;
    border-bottom: 2px solid white;
  }