
.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #BBD89D;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;

  }
